.c_from_context {
  background-color: var(--c-context-back);
  color: var(--c-context-front);
  border: var(--g-border-width) solid var(--c-context-border);
}

.borderless {
  border: none;
}

.bordered.bordered.bordered.bordered.bordered {
  border: var(--g-border-width) solid var(--c-context-border);
}

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}


button {
  @extend .card;
  @extend .row;
  @extend .b;
  justify-content: center;
  padding: 0.25rem 0.75rem;
  gap: 0.5rem;
  min-height: 3rem;
  cursor: pointer;
  color: inherit;
  background-color: inherit;

  &:not(.dummy_class_001) {
    border: none;
  }

  /*& > .lucide {
    & + div {
      text-align: center;
      flex: 1;
      text-align: center;
    }
  }

  &.text-left {
    text-align: left;
    div {
      margin-left: 0.25rem;
      text-align: left;
    }
  }*/
}

.icon {
  aspect-ratio: 1;
  border-radius: 25%;
  object-fit: cover;
}

select {
  @extend .card;
  @extend .c_from_context;
  padding: 0 0.75rem;
  height: 3rem;
  min-width: 12rem;
  width: 100%;
}

&.dark dialog[open=""] > div {
  border-width: var(--g-border-width);
  border-style: solid;
  border-color: var(--c-context-border);
}

dialog {
  @extend .column;
  @extend .cross-center;
  @extend .main-center;

  z-index: 100;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  border: none;

  pointer-events: none;

  background-color: transparent;

  transition: background-color 0.3s ease-in-out;
  transition: backdrop-filter 0.3s ease-in-out;

  & > * {
    display: none;
  }

  &[open=""] {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    pointer-events: all;
    & > * {
      display: unset;
      max-width: 100vw;
    }
  }
}

.expandable {
  max-height: 0px;
  transition: max-height 0.25s ease-out;
  overflow: hidden;
}

.expandable:has(*) {
  max-height: 500px;
  transition: max-height 0.25s ease-in;
}

.header {
	@extend .box;
	@extend .row;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	font-size: 1.25rem;
	font-weight: 900;
	border-width: 20px;
	border-style: solid;
	border-width: 0 0 2px 0;
  padding: 0 .5rem;
	//border-width: 0 0 2px 0;

	z-index: 20;
	// place border inside the element:
	box-sizing: border-box;
	//height: 4.5rem; <- defined in jsx
	justify-content: space-between;
	align-items: center;
}

.frosted.frosted.frosted.frosted {
  background-color: color-mix(in srgb, var(--c-context-back) 50%, transparent);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

// =============== INPUTS ===============

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="time"],
textarea
{
  @extend .c_from_context;
}

.text_field_base:has(:focus) {
  outline: max(2px, 0.15em) solid var(--c-accent);
}

@mixin range-dot {
  width: 1.5rem; 
  height: 1.5rem; 
  border-radius: var(--g-radius);
  background: var(--c-context-front); 
  border: none;
  outline: none;
  cursor: pointer; 
}

&.highvis input[type="range"] {
  &::-webkit-slider-thumb {
    border-width: var(--g-border-width);
    border-style: solid;
    border-color: var(--c-context-back);
  }

  &::-moz-range-thumb {
    border-width: var(--g-border-width);
    border-style: solid;
    border-color: var(--c-context-back);
  }
}

input[type="range"] {
  -webkit-appearance: none;  
  appearance: none;
  width: 100%; 
  height: .4rem; 

  background-color: var(--c-context-back);
  outline: none; 

  -webkit-transition: .2s; 
  transition: background-color .2s;

  &:hover{
    background-color: var(--c-context-back);
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    @include range-dot();
  }

  &::-moz-range-thumb {
    @include range-dot();
  }
}



/*input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: green;
  cursor: pointer;
  width: 15rem;

  &::-moz-range-track{
    background-color: var(--c-context-border);
    border-radius: 100px;
    border: none;
    height: 0.5rem;
  }

  &::-webkit-slider-runnable-track
  {
    border-radius: 100px;
    border: none;
    height: 0.5rem;
  }

  &::-webkit-slider-thumb
  {
    
    border: none;
    -webkit-appearance: none; // Override default look
    appearance: none;
    margin-top: -6px;
    border-radius: 100px;
    height: 1.2rem;
    width: 1.2rem;
  }
}*/


// =============== CHECKBOX ===============

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;

  font: inherit;
  width: 1.8rem;
  height: 1.8rem;
  border-width: var(--g-border-width);
  border-radius: var(--g-radius);
  border-style: solid;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
  outline: none;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.95rem;
  height: 0.75rem;
  clip-path: polygon(10% 41%, 37% 75%, 91% 0, 100% 13%, 38% 100%, 0 55%);
  // check tick clip path outlined:
  transform: scale(0);
  transform-origin: center;
  transition: 0.2s all ease-in-out;
  //box-shadow: inset 1em 1em green;
}

&.reduced_motion input[type="checkbox"]::before {
  transition: none;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
  background-color: var(--c-context-front);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid var(--c-accent);
  outline-offset: 0;
}

input[type="checkbox"]:not(:checked):disabled {
  cursor: not-allowed;
  border: 0.16em solid var(--c-context-border);
}


// progress bar
&.highvis div[data-type="elbe_progress_bar"] > * {
  outline-width: var(--g-border-width);
  outline-style: solid;
  outline-color: var(--c-context-back);
}

// UTILS
hr {
  border: none;
  border-top: var(--g-border-width) solid var(--c-context-border);
  width: 100%;
}

button > * {
  flex-shrink: 0;
}