.column,
.row,
.row-resp {
  display: flex;
  justify-content: start;
  align-items: stretch;
  gap: 1rem;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
  align-items: center;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ========== GAP =========== */

.gap-none {
  gap: 0;
}
.gap-quarter {
  gap: 0.25rem;
}
.gap-half {
  gap: 0.5rem;
}
.gap-one {
  gap: 1rem;
}
.gap-double {
  gap: 2rem;
}
.gap-triple {
  gap: 3rem;
}

/* ========== EXPAND =========== */

.flex-none {
  flex: 0 0 auto;
}

@for $i from 1 through 12 {
  .flex-#{$i} {
    flex: #{$i} #{$i} 0%;
  }
}

/* ========== ALIGN =========== */

.cross-start {
  align-items: flex-start;
}
.cross-center {
  align-items: center;
}
.cross-end {
  align-items: flex-end;
}
.cross-stretch {
  align-items: stretch;
}
.cross-baseline {
  align-items: baseline;
}

/* ========== JUSTIFY =========== */

.main-start {
  justify-content: flex-start;
}
.main-center {
  justify-content: center;
}
.main-end {
  justify-content: flex-end;
}
.main-between {
  justify-content: space-between;
}
.main-around {
  justify-content: space-around;
}
.main-evenly {
  justify-content: space-evenly;
}

/* ========== RESPONSIVE =========== */

@media (max-width: 700px) {
  .row-resp {
    flex-direction: column;
  }
  .if-wide {
    display: none;
  }
}

@media (min-width: 700px) {
  .if-narrow {
    display: none;
  }
}

.wrap {
  flex-wrap: wrap;
}
