.toast {
    @extend .card;
    @extend .b;
    @extend .raised;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 200;
    left: 50%;
    width: min(40rem, 90%);
    transform: translateX(-50%);
    animation: toast_fadeIn 0.2s ease-out;// toast_fadeOut 0.2s ease-in 3s forwards;
  }

  &.reduced_motion .toast {
    animation: none;
  }
  
  @keyframes toast_fadeIn {
    from {
      opacity: 0;
      transform: translateX(-50%) translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateX(-50%) translateY(0);
    }
  }
  
  /*@keyframes toast_fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }*/