/* BUILD CSS BY:
- npm install -g sass
- sass style/elbe.scss dist/elbe.css
*/


@import "./components/ROOT.scss";
@import "./components/checkbox.scss";
@import "./components/range.scss";




// =============== TODO: TOOLTIP ===============

._elbe_tooltip {
  position: fixed;;
  background-color: black;
  color: white;
  padding: .25rem .5rem;
  border-radius: .25rem;
  font-size: 1rem;
  white-space: nowrap;
  z-index: 101;
  pointer-events: none;
}
