/* BUILD CSS BY:
- npm install -g sass
- sass style/elbe.scss dist/elbe.css
*/


@import "./components/ROOT.scss";
@import "./components/checkbox.scss";
@import "./components/tooltip.scss";
@import "./components/range.scss";
@import "./components/toast.scss";
@import "./components/dialog.scss";
@import "./components/table.scss";

._color_from_context {
  background-color: var(--c-context-back);
  color: var(--c-context-front);
  border: var(--g-border-width) solid var(--c-context-border);
}

// =============== TODO: TOOLTIP ===============



._elbe_tooltip {
  position: fixed;;
  background-color: black;
  color: white;
  padding: .25rem .5rem;
  border-radius: .25rem;
  font-size: 1rem;
  white-space: nowrap;
  z-index: 101;
  pointer-events: none;
}
