/* BUILD CSS BY:
- npm install -g sass
- sass style/elbe.scss dist/elbe.css
*/



@import url("https://fonts.googleapis.com/css2?display=swap&"+
"family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&"+
"family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&"+
"family=Calistoga&"+
"family=Noto+Color+Emoji");

:root {
  --g-size: 1rem;
  --g-radius: 0.75rem;
  --g-padding: 1rem;
  --g-border-width: 0.125rem;

  --c-context-back: #ffffff; 
  --c-context-front: #000;
  --c-context-border: #000;
  //--c-current-accent: #4717f2;

  line-height: 1.3;
  color: #222;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  border-collapse: separate;

  font-family: 'Inter', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  border-color: inherit;
}

body,
#app {
  margin: 0;
  display: block;
  min-height: 100vh;
  background-color: white;
}


.elbe {
  @import "base";
  @import "flex";
  @import "components";
}