
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}

input[type="checkbox"]::after {
  content: "";
  width: 0.95rem;
  height: 0.75rem;
  clip-path: polygon(10% 41%, 37% 75%, 91% 0, 100% 13%, 38% 100%, 0 55%);
  // check tick clip path outlined:
  transform: scale(0);
  transform-origin: center;
  transition: 0.2s all ease-in-out;
  background-color: var(--elbe-context-color-front);
  z-index: 1;
}

input[type="checkbox"]:checked::after {
  transform: scale(1);
}

