

input[type="range"] {
  &::-webkit-slider-thumb {
    border-width: var(--elbe-context-geometry-border-width);
    border-style: solid;
    border-color: var(--elbe-context-color-back);
  }

  &::-moz-range-thumb {
    border-width: var(--elbe-context-geometry-border-width);
    border-style: solid;
    border-color: var(--elbe-context-color-back);
  }
}

@mixin range-dot {
  width: 1rem; 
  height: 1rem; 
  border-radius: var(--elbe-context-geometry-border-radius);
  background-color: var(--elbe-range-dot-back); 
  border: .25rem solid var(--elbe-range-dot-border);
  outline: none;
  cursor: pointer; 
}

input[type="range"] {
  -webkit-appearance: none;  
  appearance: none;
  width: 100%; 
  height: .4rem; 

  background-color: var(--elbe-context-color-back); 
  outline: none; 

  -webkit-transition: .2s; 
  transition: background-color .2s;

  &:hover{
    background-color: var(--elbe-context-color-back); 
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    @include range-dot();
  }

  &::-moz-range-thumb {
    @include range-dot();
  }
}
