@import url("https://fonts.googleapis.com/css2?display=swap&"+
"family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&"+
"family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&"+
"family=Calistoga&"+
"family=Noto+Color+Emoji");

:root {

  line-height: 1.3;
  color: #222;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  border-collapse: separate;

  font-family: 'Inter', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  border-color: inherit;
  color: inherit;
}

body,
#app {
  margin: 0;
  display: block;
  min-height: 100vh;
  background-color: white;
}





#elbe_app,#elbe_dialog,
#elbe_tooltip, #elbe_toast {

  & *:focus-visible, .elbe-focussink:focus-within {
    position: relative;
    outline: max(2px, 0.15em) solid var(--elbe-context-color-outline);
    outline-offset: 0;

    // hide focus on the children when parent has focus
    & *:focus-visible:focus-visible {
      outline: none !important;
    }
  }

  *:active {
     outline: none;
  }

  &.dark :focus-visible{
    outline: .15rem solid white;
  }

  width: 100%;

  hr {
    margin: 0;
    height: 0;
    width: 100%;
    border: none;
    border-top-width: max(var(--elbe-context-geometry-border-width), 1px);
    border-top-style: solid;
    border-top-color: var(--elbe-context-color-border);
    
  }

  * b, * strong {
    font-weight: bold;
  }

  * i, * em {
    font-style: italic;
  }
}

.elbe_no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.elbe_scrollbars-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}


.elbe_colored {
  color: var(--elbe-context-color-front);
  background-color: var(--elbe-context-color-back);
  border-color: var(--elbe-context-color-border);
}

