.elbe_tooltip {
  animation: elbe_tooltip_fadein 0.15s ease-in-out forwards;
}

@keyframes elbe_tooltip_fadein {
  from {
    opacity: 0;
    scale: 0.95;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}